<?xml version="1.0" encoding="utf-8"?>

<manifest android:versionCode="40001" android:versionName="1.1.40001" package="com.google.android.gallery3d"
  xmlns:android="http://schemas.android.com/apk/res/android"


>
    <original-package android:name="com.android.gallery3d" />

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="16" />

    <permission android:name="com.google.android.gallery3d.permission.GALLERY_PROVIDER" android:protectionLevel="signature"
 />
    <permission android:name="com.google.android.gallery3d.permission.PICASA_STORE" android:protectionLevel="dangerous" android:label="@string/permlab_picasastore" android:description="@string/permdesc_picasastore" android:permissionGroup="android.permission-group.PERSONAL_INFO"



 />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.apps.plus.permission.PICASA_STORE" />

    <supports-screens android:smallScreens="false" android:normalScreens="true" android:largeScreens="true" android:anyDensity="true"

 />

    <application android:name="com.android.gallery3d.app.GalleryAppImpl" android:label="@string/app_name" android:icon="@mipmap/ic_launcher_gallery" android:theme="@style/Theme.Gallery" android:logo="@mipmap/ic_launcher_gallery" android:hardwareAccelerated="true" android:largeHeap="true"




>
        <uses-library android:name="com.google.android.media.effects" android:required="false" />
        <activity android:name="com.android.gallery3d.app.MovieActivity" android:label="@string/movie_view_label" android:configChanges="keyboardHidden|orientation|screenSize"

>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="rtsp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/mpeg4" />
                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/3gp" />
                <data android:mimeType="video/3gpp" />
                <data android:mimeType="video/3gpp2" />
                <data android:mimeType="video/webm" />
                <data android:mimeType="video/avi" />
                <data android:mimeType="application/sdp" />
            </intent-filter>
            <intent-filter> !-- HTTP live support -->

<action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="audio/x-mpegurl" />
                <data android:mimeType="audio/mpegurl" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="application/x-mpegurl" />
            </intent-filter>
        </activity>

        <activity android:name="com.android.gallery3d.app.Gallery" android:label="@string/app_name" android:configChanges="keyboardHidden|orientation|screenSize"
>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_GALLERY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="vnd.android.cursor.dir/image" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/image" />
                <data android:mimeType="vnd.android.cursor.dir/video" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.android.camera.action.REVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/x-ms-bmp" />
                <data android:mimeType="image/vnd.wap.wbmp" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.camera.action.REVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/mpeg4" />
                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/3gp" />
                <data android:mimeType="video/3gpp" />
                <data android:mimeType="video/3gpp2" />
                <data android:mimeType="application/sdp" />
            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/image" />
                <data android:mimeType="vnd.android.cursor.dir/video" />
            </intent-filter>
        </activity>



        <activity-alias android:name="com.cooliris.media.Gallery" android:label="@string/app_name" android:configChanges="keyboardHidden|orientation|screenSize" android:targetActivity="com.android.gallery3d.app.Gallery"


>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity-alias>


        <activity android:name="com.android.gallery3d.app.UsbDeviceActivity" android:label="@string/app_name" android:taskAffinity="" android:launchMode="singleInstance"

>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/device_filter"
 />
        </activity>

        <activity android:name="com.android.gallery3d.app.Wallpaper" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="keyboardHidden|orientation|screenSize"

>
            <intent-filter android:label="@string/camera_setas_wallpaper">
                <action android:name="android.intent.action.ATTACH_DATA" />
                <data android:mimeType="image/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.wallpaper.preview" android:resource="@xml/wallpaper_picker_preview"
 />
        </activity>
        <activity android:name="com.android.gallery3d.app.CropImage" android:label="@string/crop_label" android:configChanges="keyboardHidden|orientation|screenSize" android:process=":crop"


>
            <intent-filter android:label="@string/crop_label">
                <action android:name="com.android.camera.action.CROP" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:scheme="" />
                <data android:mimeType="image/*" />
                <data android:mimeType="vnd.android.cursor.item/vnd.android.gallery3d.picasa.photo" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.gallery3d.app.TrimVideo" android:label="@string/trim_label"
>
            <intent-filter android:label="@string/trim_label">
                <action android:name="com.android.camera.action.TRIM" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <permission android:name="com.android.gallery3d.filtershow.permission.READ" android:protectionLevel="signature"
 />

        <permission android:name="com.android.gallery3d.filtershow.permission.WRITE" android:protectionLevel="signature"
 />

        <provider android:readPermission="com.android.gallery3d.filtershow.permission.READ" android:writePermission="com.android.gallery3d.filtershow.permission.WRITE" android:name="com.android.gallery3d.filtershow.provider.SharedImageProvider" android:authorities="com.android.gallery3d.filtershow.provider.SharedImageProvider" android:grantUriPermissions="true"




 />

        <activity android:name="com.android.gallery3d.filtershow.FilterShowActivity" android:label="@string/title_activity_filter_show" android:theme="@style/Theme.Gallery" android:configChanges="keyboardHidden|orientation|screenSize"



>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="action_nextgen_edit" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <uses-library android:name="com.google.android.media.effects" android:required="false"
 />

        <activity android:name="com.android.gallery3d.settings.GallerySettings" android:theme="@style/Theme.Gallery" android:configChanges="keyboardHidden|orientation|screenSize"

>
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider android:permission="com.google.android.gallery3d.permission.GALLERY_PROVIDER" android:name="com.android.gallery3d.provider.GalleryProvider" android:authorities="com.google.android.gallery3d.provider" android:grantUriPermissions="true" android:exported="true"



 />


        <provider android:name="com.google.android.picasasync.PicasaOpenFileProvider" android:authorities="com.google.android.gallery3d.GooglePhotoProviderRestricted" android:exported="true"

 />
        <service android:name="com.google.android.picasastore.PicasaStoreFacade$DummyService">
            <intent-filter>
                <action android:name="com.google.android.picasasync.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="com.google.android.picasasync.priority" android:value="85" />
            <meta-data android:name="com.google.android.picasasync.enable-down-sync" android:value="false" />
            <meta-data android:value="com.google.android.gallery3d.GooglePhotoProviderRestricted" android:name="com.google.android.picasasync.authority"
 />
        </service>

        <provider android:name="com.google.android.picasasync.PicasaContentProvider0" android:label="@string/google_photos" android:exported="true" android:permission="com.google.android.gallery3d.permission.PICASA_STORE" android:authorities="com.google.android.gallery3d.GooglePhotoProvider"



 />
        <service android:label="Picasa Sync Service" android:name="com.google.android.picasasync.PicasaSyncService"
>
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter" />
        </service>
        <receiver android:name="com.google.android.picasasync.ConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.picasasync.ConnectivityReceiver$AsyncService" />
        <receiver android:name="com.google.android.picasasync.BatteryReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <provider android:permission="com.google.android.gallery3d.permission.PICASA_STORE" android:name="com.google.android.picasastore.PicasaPhotoContentProvider0" android:authorities="com.google.android.gallery3d.PicasaStore" android:exported="true"


 />
        <service android:name="com.google.android.picasastore.PicasaStoreFacade$DummyService">
            <intent-filter>
                <action android:name="com.google.android.picasastore.PACKAGE_METADATA_LOOKUP" />
            </intent-filter>
            <meta-data android:name="com.google.android.picasastore.priority" android:value="32" />
            <meta-data android:value="com.google.android.gallery3d.PicasaStore" android:name="com.google.android.picasastore.authority"
 />
        </service>

        <receiver android:name="com.android.gallery3d.onetimeinitializer.AutoSyncCarryOverFromICSReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name="com.android.gallery3d.onetimeinitializer.AutoSyncCarryOverFromICSReceiver$AsyncService" />


        <activity android:name="com.android.gallery3d.gadget.WidgetClickHandler" />
        <activity android:name="com.android.gallery3d.app.DialogPicker" android:theme="@style/DialogPickerTheme" android:configChanges="keyboardHidden|orientation|screenSize"

 />
        <activity android:name="com.android.gallery3d.app.AlbumPicker" android:theme="@style/DialogPickerTheme" android:configChanges="keyboardHidden|orientation|screenSize"

 />
        <activity android:name="com.android.gallery3d.gadget.WidgetTypeChooser" android:theme="@style/Theme.Gallery.Dialog" android:configChanges="keyboardHidden|orientation|screenSize"

 />
        <activity android:name="com.android.gallery3d.app.LicensesActivity" android:label="@string/open_source_licenses" android:theme="@android:style/Theme.Holo.Light.Dialog"

 />

        <activity android:name="com.android.camera.CameraActivity" android:label="@string/camera_label" android:icon="@mipmap/ic_launcher_camera" android:theme="@style/Theme.Camera" android:configChanges="keyboardHidden|orientation|screenSize" android:taskAffinity="com.google.android.camera.CameraActivity" android:clearTaskOnLaunch="true" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"






>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.android.camera.SecureCameraActivity" android:label="@string/camera_label" android:icon="@mipmap/ic_launcher_camera" android:theme="@style/Theme.Camera" android:configChanges="keyboardHidden|orientation|screenSize" android:taskAffinity="com.google.android.camera.SecureCameraActivity" android:clearTaskOnLaunch="true" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" android:excludeFromRecents="true"







>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE_SECURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias android:name="com.android.camera.CameraLauncher" android:label="@string/camera_label" android:icon="@mipmap/ic_launcher_camera" android:targetActivity="com.android.camera.CameraActivity"


>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:name="com.android.camera.Camera" android:label="@string/camera_label" android:icon="@mipmap/ic_launcher_camera" android:targetActivity="com.android.camera.CameraActivity"


>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:name="com.android.camera.VideoCamera" android:label="@string/video_camera_label" android:icon="@mipmap/ic_launcher_video_camera" android:targetActivity="com.android.camera.CameraActivity"


>
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <receiver android:name="com.android.gallery3d.gadget.PhotoAppWidgetProvider" android:label="@string/appwidget_title"
>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"
 />
        </receiver>
        <receiver android:name="com.android.gallery3d.app.PackagesMonitor">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service android:name="com.android.gallery3d.app.PackagesMonitor$AsyncService" />
        <receiver android:name="com.android.camera.CameraButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.CAMERA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.camera.DisableCameraReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name="com.android.gallery3d.gadget.WidgetService" android:permission="android.permission.BIND_REMOTEVIEWS"
 />
        <activity android:name="com.android.gallery3d.gadget.WidgetConfigure" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="keyboardHidden|orientation|screenSize"

>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>


        <activity android:name="com.google.android.apps.lightcycle.ProtectedPanoramaCaptureActivity" android:label="@string/pano_dialog_title" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:configChanges="keyboardHidden|orientation|screenSize" android:taskAffinity="com.google.android.camera" android:clearTaskOnLaunch="true" android:windowSoftInputMode="stateAlwaysHidden|adjustPan" android:screenOrientation="landscape"







>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service android:name="com.google.android.apps.lightcycle.panorama.StitchingService" />

    </application>
</manifest>
